.body {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.header {

    font-family: Arial;
    font-size: 40px;
    text-align: center;
    color: #012c45;


}
.card {
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    overflow-x: hidden;
}

.card{
    margin-top: 0;
}

.buttons-container {
    margin-top: 20px;
}

.textFields{
    margin-bottom: 10px;
}

.container {
    margin-top: -350px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Buttons {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 100%;
}

.secondTextField {
}

.secondButton {
    margin-left: 100px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #012c45;
    color: #555353;
    text-align: center;
}

.ChatWrapper{
    position: fixed;
    top: 200px;
    right: 0;
    margin-right: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.gameIdTf{
    margin-right: -100px;

}

.welcomePage {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media (max-width: 1200px) {
    .card {
        height:30% ;
        width: 30%;
    }
    .buttons-container {
        flex-direction: column;
    }
    .Buttons {
        width: 100%;
    }
    .secondButton {
        margin-left: 0;
    }


}

@media (max-width: 768px) {
    .card {
        height:30% ;
        width: 30%;
    }
    .buttons-container {
        flex-direction: column;
    }
    .Buttons {
        width: 100%;

        .secondButton {
            margin-left: 0;
        }


    }}

